<div class="modal-container">
    <div class="modal-header">
      <h2>Modifier PIP</h2>
      <button mat-icon-button (click)="closeModal()">
        <mat-icon aria-label="Close dialog">close</mat-icon>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="name">Nom:</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="pipDetails.name" name="name" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Type :</label><br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="internal" name="type" value="Interne" [(ngModel)]="pipDetails.type" required>
            <label class="form-check-label" for="internal">Interne</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="external" name="type" value="Externe" [(ngModel)]="pipDetails.type" required>
            <label class="form-check-label" for="external">Externe</label>
          </div>
        </div>
        <div class="mb-3">
          <label for="interaction" class="form-label">Interaction :</label>
          <select id="interaction" name="interaction" [(ngModel)]="pipDetails.interaction" class="form-select" required>
            <option value="" disabled>Sélectionner l'interaction</option>
            <option value="Forte">Forte</option>
            <option value="Moyenne">Moyenne</option>
            <option value="Faible">Faible</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="category" class="form-label">Catégorie :</label>
          <select id="category" name="category" [(ngModel)]="selectedCategoryId" (change)="categorySelectionChanged()" class="form-select" required>
            <option value="" disabled>Sélectionner la catégorie</option>
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
          </select>
        </div>
          
      
        <!-- Ajoutez d'autres champs de formulaire selon les propriétés de votre PIP -->
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" (click)="updatePip()">Mettre à jour</button>
      <button class="btn btn-secondary" (click)="closeModal()">Annuler</button>
    </div>
  </div>
  