.performance-title {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  color: #1e1666;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 2px solid #22a4D9;
  display: inline-block;
  padding-bottom: 6px;
}


.value-circle {
  background-color: #C5ECF6;
  border-radius: 50%;
  padding: 8px;
  border: 1px solid #22a4D9;
  color: #187398;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.analysis-btn {
  background-color: #22a4D9;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.purple-btn {
  background-color: #187398;
}

.icon-custom-color {
  color: white;
}

.filter-button {
  background: linear-gradient(135deg, #187398, #22a4d9); /* Dégradé bleu */
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 20px;
  transition: background-color 0.3s, transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Petite animation au hover pour un effet pro */
.filter-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

