<h2 mat-dialog-title>Détails de l'enjeu</h2>

<mat-dialog-content>
<div class="field-block"> 
  <p><strong>Description :</strong> {{ data.description }}</p>
</div>
  <p><strong>Poids :</strong> {{ data.poids }}</p>
  <p><strong>Date de création :</strong> {{ data.dateCreation | date:'short' }}</p>
  <p><strong> Crée par :</strong> {{data.creePar }}</p>
 <!-- <div class="field-block">
  
  <strong>Historique de modifications :</strong>

  <table mat-table [dataSource]="historique" class="mat-elevation-z1" *ngIf="historique.length > 0">

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">{{ element.dateModification | date:'short' }}</td>
    </ng-container>

    <ng-container matColumnDef="commentaire">
      <th mat-header-cell *matHeaderCellDef>Commentaire</th>
      <td mat-cell *matCellDef="let element">{{ element.commentaire }}</td>
    </ng-container>

    <ng-container matColumnDef="avant">
      <th mat-header-cell *matHeaderCellDef>État Avant</th>
      <td mat-cell *matCellDef="let element"><pre>{{ element.etatAvant | json }}</pre></td>
    </ng-container>

    <ng-container matColumnDef="apres">
      <th mat-header-cell *matHeaderCellDef>État Après</th>
      <td mat-cell *matCellDef="let element"><pre>{{ element.etatApres | json }}</pre></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['date', 'commentaire', 'avant', 'apres']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['date', 'commentaire', 'avant', 'apres'];"></tr>

  </table>

  <ng-template [ngIf]="historique.length === 0">
    <em>Aucune modification enregistrée</em>
  </ng-template>
</div> -->


  <p><strong>Dernière modification :</strong> {{ data.dateModification | date:'short' }}</p>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Fermer</button>
</mat-dialog-actions>
