.btn-circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease; /* Add a transition for smooth animation */
  }
  
  .btn-circle:hover {
    transform: scale(1.1); /* Apply a scale transformation on hover */
  }
  .button-group {
    display: flex;
    gap: 10px;
    margin-left: -45px; /* Ajouter une marge négative pour déplacer le groupe de boutons vers la gauche */
}

.action-icon {
    transition: transform 0.3s ease; /* Ajoute une transition pour une animation en douceur */
}

.action-icon:hover {
    transform: scale(1.2); /* Applique une transformation d'échelle au survol */
}
  .custom-search-input {
    border-radius: 5px;
  }
  
  .btn-custom-search {
    border-radius: 5px;
    background-color: #3e6590; /* Couleur du fond du bouton */
    border: none;
    padding: 8px 15px;
    color: rgb(223, 199, 199); /* Couleur du texte du bouton */
    transition: background-color 0.2s;
  }
  .admin-badge {
    background-color: #ff6347; /* Red */
  }
  
  .quality-badge {
    background-color: #4682b4; /* Steel Blue */
  }
  
  .director-badge {
    background-color: #32cd32; /* Lime Green */
  }
  
  .project-manager-badge {
    background-color: #ffd700; /* Gold */
  }
  
  .role-circle {
    display: inline-block;
    width: 12px; /* Ajustez la taille du cercle selon vos besoins */
    height: 12px; /* Ajustez la taille du cercle selon vos besoins */
    border-radius: 50%;
    margin-right: 5px; /* Espacement entre le cercle et le texte */
  }
  

  .custom-button {
    background-color: #4CAF50; /* couleur de fond */
    border: none;
    color: white; /* couleur du texte */
    padding: 10px 20px; /* Réduisez le padding pour un bouton plus petit */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px; /* Taille du texte plus petite */
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px; /* angles arrondis */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* ombre */
}

.button-container {
    display: flex; /* Utilisation de Flexbox pour aligner les boutons horizontalement */
    align-items: center; /* Centre les éléments verticalement */
}

.button-container {
    display: flex; /* Utilisation de Flexbox pour aligner les boutons horizontalement */
    align-items: center; /* Centre les éléments verticalement */
}

.delete-button {
    border: none;
    background-color: #b71c1c; /* Couleur de fond pour le bouton de suppression */
    cursor: pointer;
    padding: 0;
    width: 30px; /* Ajustez la largeur selon vos préférences */
    height: 30px; /* Ajustez la hauteur selon vos préférences */
    border-radius: 50%; /* Rend le bouton rond */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s; /* Ajout d'une transition fluide */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ajout d'une légère ombre */
    margin-right: 5px; /* Ajout de marge à droite pour l'espace entre les boutons */
    color: #fff; /* Couleur du texte */
    font-size: 10px; /* Taille du texte */
}

.edit-button {
    border: none;
    background-color: #52b6ec; /* Couleur de fond pour le bouton de modification */
    cursor: pointer;
    padding: 0;
    width: 30px; /* Ajustez la largeur selon vos préférences */
    height: 30px; /* Ajustez la hauteur selon vos préférences */
    border-radius: 50%; /* Rend le bouton rond */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s; /* Ajout d'une transition fluide */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ajout d'une légère ombre */
    color: #fff; /* Couleur du texte */
    font-size: 10px; /* Taille du texte */
}

/* Ajuster la taille des icônes */
.custom-button1 i {
    font-size: 16px; /* Taille des icônes */
}

/* Changement de couleur au survol */
.delete-button:hover {
    background-color: #d66565; /* Couleur de fond au survol pour le bouton de suppression */
}

.edit-button:hover {
    background-color: #3c8dbc; /* Couleur de fond au survol pour le bouton de modification */
}

