<div id="sidebar-menu">
  <ul class="metismenu list-unstyled" id="side-menu">
    <li class="menu-title">Menu</li>

    <li *ngIf="isAny('RESPONSABLEQUALITE', 'CHEFDEPROJET', 'ADMIN')">
      <a routerLink="/home" routerLinkActive="active" class="waves-effect" (click)="setActiveLink('home')">
        <i class="bx bx-home-circle"></i>
        <span>Dashboards</span>
      </a>
    </li>

    <li *ngIf="is('ADMIN')">
      <a routerLink="/listuser" routerLinkActive="active" class="waves-effect" (click)="setActiveLink('listuser')">
        <i class="bx bx-user"></i>
        <span>Liste des utilisateurs</span>
      </a>
    </li>

    <li *ngIf="is('ADMIN')">
      <a routerLink="/listactivites" routerLinkActive="active" class="waves-effect" (click)="setActiveLink('listactivites')">
        <i class="bx bx-task"></i>
        <span>Fiche activités</span>
      </a>
    </li>

    <li *ngIf="is('ADMIN')">
      <a routerLink="/ficheprocessus" routerLinkActive="active" class="waves-effect" (click)="setActiveLink('ficheprocessus')">
        <i class="bx bx-book"></i>
        <span>Fiche processus</span>
      </a>
    </li>

    <li *ngIf="is('ADMIN')">
      <a routerLink="/listvolet" routerLinkActive="active" class="waves-effect" (click)="setActiveLink('listvolet')">
        <i class="bx bx-target-lock"></i>
        <span>Volets de la matrice SWOT</span>
      </a>
    </li>

    <li *ngIf="is('ADMIN')">
      <a routerLink="/categorie" routerLinkActive="active" class="waves-effect" (click)="setActiveLink('categorie')">
        <i class="fas fa-th-large"></i>
        <span>Catégories des pip</span>
      </a>
    </li>

    <li *ngIf="is('ADMIN')">
      <a routerLink="/client" routerLinkActive="active" class="waves-effect" (click)="setActiveLink('client')">
        <i class="fas fa-user"></i>
        <span>Fiche client</span>
      </a>
    </li>

    <li *ngIf="isAny('RESPONSABLEQUALITE', 'CHEFDEPROJET')">
      <a routerLink="/projets" routerLinkActive="active" class="waves-effect" (click)="setActiveLink('projets')">
        <i class="bx bx-target-lock"></i>
        <span>Performance activités</span>
      </a>
    </li>

    <li *ngIf="isAny('RESPONSABLEQUALITE', 'CHEFDEPROJET')">
      <a routerLink="/performanceprocessus" routerLinkActive="active" class="waves-effect" (click)="setActiveLink('performanceprocessus')">
        <i class="bx bx-target-lock"></i>
        <span>Performance processus</span>
      </a>
    </li>

    <li *ngIf="isAny('RESPONSABLEQUALITE', 'CHEFDEPROJET')">
      <a routerLink="/matriceswot" routerLinkActive="active" class="waves-effect" (click)="setActiveLink('matriceswot')">
        <i class="bx bx-target-lock"></i>
        <span>Matrice SWOT</span>
      </a>
    </li>

 <!-- <li *ngIf="isAny('RESPONSABLEQUALITE', 'CHEFDEPROJET')">
      <a routerLink="/" routerLinkActive="active" class="waves-effect" (click)="setActiveLink('')">
        <i class="bx bx-target-lock"></i>
        <span>Enjeux stratégiques</span>
      </a>
    </li> -->

    <li *ngIf="isAny('RESPONSABLEQUALITE', 'CHEFDEPROJET')">
      <a routerLink="/listepip" routerLinkActive="active" class="waves-effect" (click)="setActiveLink('listepip')">
        <i class="bx bx-target-lock"></i>
        <span>Liste des PIP</span>
      </a>
    </li>

    <li *ngIf="isAny('RESPONSABLEQUALITE', 'CHEFDEPROJET')">
      <a routerLink="/Attentespip" routerLinkActive="active" class="waves-effect" (click)="setActiveLink('Attentespip')">
        <i class="bx bx-target-lock"></i>
        <span>Attentes PIP</span>
      </a>
    </li>
  </ul>
</div>