<h2 mat-dialog-title>Détails du Cadran</h2>

<mat-dialog-content class="cadran-details-content">

  <i class="fas fa-sync-alt refresh-icon" (click)="refreshCadran(data.cadranId)" title="Rafraîchir les données"></i>

     <div class="field-block">
  <p><strong>Nom :</strong> {{ data.cadran.name }}</p>
       </div>
  <!-- <p><strong>Secteur :</strong> {{ data.cadran.secteur }}</p>
  <p><strong>Contexte :</strong> {{ data.cadran.contexte }}</p> -->
  <p><strong>Processus :</strong> {{ data.cadran.processus }}</p>
  <p><strong>Origine Info :</strong> {{ data.cadran.origineInfo }}</p>
  <p><strong>Créé par :</strong> {{ data.cadran.creePar }}</p>
  <p><strong>Date de création :</strong> {{ data.cadran.dateCreation | date: 'short' }}</p>
 

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="closeModal()">Fermer</button>
  <!-- Icône Modifier -->
  <button class="custom-button1 edit-button" (click)="editCadran()" title="Modifier">
    <i class="fas fa-pencil-alt"></i>
  </button>
   <!-- Icône Supprimer -->
  <button class="custom-button1 delete-button" (click)="deleteCadran()" title="Supprimer">
    <i class="fas fa-trash"></i>
  </button>
</mat-dialog-actions>
